<div class="row">
<h2>Search here your flight status:</h2>
  <%= form_for itineraries_path, method: 'post' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= button_to "Search", :id => nil %>
    </p>
  <% end %>
</div>
