<div class="row">
  
  <%if @flight_type ==1%>
  <p>One Way</p>
  <%elsif @flight_type ==2%>
  <p>Round Trip</p>
  <%else %>
    <p>Multiple Cities x2</p>
    <%if !@fecha_regreso_3.to_s.blank?%>
      <p>Multiple Cities x3</p>
    <%end%>
     <%if !@fecha_regreso_4.to_s.blank?%>
      <p>Multiple Cities x4</p>
    <%end%>
  <%end %>
</div>
