<div class="row">
	<p id="notice"><%= notice %></p>
	<h2>Name:</h2>
	<h3><%= @city.name %></h3>

	<%= link_to 'Edit', edit_city_path(@city), class: 'button' %>
	<%= link_to 'Back', cities_path, class: 'button' %>
</div>
